<ion-header>
  <ion-navbar>
    <ion-title>
       {{ 'page_about_title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <div class="container">
      <img src="assets/imgs/open-recordz-logo.jpg" style="width:100%;">
      <div class="centered-horizontal">
        <div class="card-subtitle"> {{ 'page_about_powered_by' | translate }}</div>
        <div class="card-title">{{developer}}</div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header center text-center>
      <h2 class="app-name" >{{this.appName}}</h2>
      <span (click)="openUrl(this.devWebSite);">
        <a href="#">{{ 'page_about_see_dev_website' | translate }}</a>
      </span>
    </ion-card-header>
    <ion-card-content center text-center>
      ver. {{this.versionCode}} build {{this.versionNumber}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="sites">    
    <ion-card-content> 
      <ion-list>
        <ion-item *ngFor="let site of sites">
        <!-- <ion-item-divider *ngFor="let site of sites"> -->
          <span (click)="openUrl(site['value']);">
            <a href="#">{{site["key"]}}</a>
          </span>
        </ion-item>
        <!-- </ion-item-divider> -->
      </ion-list>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-card-header>
       {{ 'page_about_settings_title' | translate }}
    </ion-card-header>
    <ion-card-content>
    <ion-item>
      <ion-label>  {{ 'page_about_setting_notification' | translate }}</ion-label>
      <ion-toggle (ionChange)="toggleNotifications($event)" checked="{{notificationSetting}}"></ion-toggle>
    </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>