<ion-header>
  <ion-navbar>
    <ion-title text-wrap>
       {{ 'page_about_title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <div class="container">
      <img src="assets/imgs/open-recordz-logo.jpg" style="width:100%;">
      <div class="centered-horizontal">
        <div class="card-subtitle"> {{ 'page_about_powered_by' | translate }}</div>
        <div class="card-title">{{developer}}</div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header center text-center>
      <h2 class="app-name"  text-wrap>{{this.appName}}</h2>
      <span text-wrap (click)="openUrl(this.devWebSite);">
        <a href="#">{{ 'page_about_see_dev_website' | translate }}</a>
      </span>
    </ion-card-header>
    <ion-card-content center text-center>
      ver. {{this.versionCode}} build {{this.versionNumber}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="aboutMap && aboutMap?.length">
    <div *ngFor="let item of aboutMap">
      <ion-card margin-bottom>
        <ion-item-divider color="light">
          {{ item.header }}
        </ion-item-divider>

        <div *ngFor="let itemValue of item.values">
          <ion-list>
            <ion-item >
              <span text-wrap (click)="openUrl(itemValue['value']);">
                <a href="#">{{itemValue["key"]}}</a>
              </span>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>
    </div>
  </ion-list>

  <ion-card>
    <ion-item-divider color="light">
       {{ 'page_about_settings_title' | translate }}
    </ion-item-divider>
    
    <div>
      <ion-item (click)="onNotificationSettingsClick()">
        <ion-label text-wrap> {{ 'page_about_setting_notification' | translate }}</ion-label>
        <ion-icon clear item-right name="ios-arrow-forward"></ion-icon>
      </ion-item>
    </div>
  </ion-card>

</ion-content>