page-report {

    button > span  {
       padding-left:32px;
       padding-right:32px;
    }

    .btn-submit {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
