page-calendar{

    .record-title {
        margin-bottom: 6px;
    }

    .day-of-month {
        font-weight: 700;
        font-size: 26px;
        color: #0E0E0E;
        display: table-cell;
        vertical-align: middle;
    }

    .month-name {
        font-weight: 500;
        font-size: 20px;
        color: #B2B2B2;
        display: table;
        text-align: center;
    }

    .day-of-week-background {
        font-weight: 400;
        border-radius: 25px;
        background: #C1C1C1;
        padding: 0px 8px 0px 8px;
        color: white;
    }
}
