<!--
  Generated template for the CalendarRecordsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calendario</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let record of records" (click)="onClick(record)">

      <!-- check if the file is a record (exclude binaries and datasets) -->
      <!-- <ion-item *ngIf="record._type === 'record'"> -->
      <ion-item>
        <ion-avatar item-left *ngIf="record._main_image">
          <img src="{{record._main_image}}">
        </ion-avatar>

        <!-- title -->
        <h2 *ngIf="!record._title; else templateTitle" class="record-title truncate">
          <!-- title not valid -->
          {{record.id}}
        </h2>
        <!-- title valid -->
        <ng-template #templateTitle>
          <h2 class="record-title truncate"> {{record._title}}</h2>
        </ng-template>

        <!-- week of day -->
        <span *ngIf="record.when" class="day-of-week-background" text-uppercase>{{record.when | moment:'dddd'}}</span>

        <p *ngIf="record.transfer_method">{{record.transfer_method}}</p>

        <!-- day of month and month name -->
        <div clear item-right text-center *ngIf="record.when">
          <span class="day-of-month">{{record.when | moment:'DD'}}</span>
          <span class="month-name">{{record.when | moment:'MMM'}}</span>
        </div>

        <!-- <button clear item-right>View</button> -->
        <ion-icon clear item-right name="ios-arrow-forward"></ion-icon>

      </ion-item>
    </ion-card>

    <!-- paginated scroll -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>