<ion-header>

  <ion-navbar>
    <ion-buttons *ngIf="datasetGlossary" end (click)="onToolbarGloassaryClick()">
      <button ion-button icon-only color="royal">
        <ion-icon name="book"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title  text-wrap>{{ 'page_calendar_title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let record of records" (click)="onClick(record)">

      <ion-item>
        <ion-avatar item-left *ngIf="record._main_image">
          <img src="{{record._main_image}}">
        </ion-avatar>

        <!-- title -->
        <h2 text-wrap *ngIf="!record._title; else templateTitle" class="record-title">
          {{record.id}}
        </h2>
        <ng-template #templateTitle>
          <h2  text-wrap class="record-title"> {{record._title}}</h2>
        </ng-template>

        <!-- week of day -->
        <span *ngIf="record.when" class="day-of-week-background" text-uppercase>{{record.when | moment:'dddd'}}</span>

        <!-- transfer method -->
        <p *ngIf="record.transfer_method"  text-wrap >{{record.transfer_method}}</p>

        <!-- day of month and month name -->
        <div clear item-right text-center *ngIf="record.when">
          <span class="day-of-month">{{record.when | moment:'DD'}}</span>
          <span class="month-name">{{record.when | moment:'MMM'}}</span>
        </div>

        <!-- <button clear item-right>View</button> -->
        <ion-icon clear item-right name="ios-arrow-forward"></ion-icon>

      </ion-item>
    </ion-card>

    <!-- paginated scroll -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'page_calendar_loading_data' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>