<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title text-wrap>{{ 'page_search_title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >  
  
  <!-- searchbar -->
  <div class="searchbar-container">
    <ion-searchbar placeholder="Cerca" (ionInput)="filter($event)"></ion-searchbar>
  </div>

  <!-- search results -->
  <ion-list *ngIf="records && records.length > 0; else emptyTemplate">
    <ion-card *ngFor="let item of records" (click)="onItemClicked(item)">
      <ion-item *ngIf="item">
  
        <ion-avatar *ngIf="item._main_image" item-start>
          <img src="{{item._main_image}}">
        </ion-avatar>
  
        <ion-card-content>
          <!-- title -->
          <h1 text-wrap *ngIf="!item._title; else templateTitle"  >
            <!-- title not valid -->
            {{item._id}}
          </h1>
          <!-- title valid -->
          <ng-template #templateTitle>
            <h1  text-wrap> {{item._title}}</h1>
          </ng-template>
  
          <!-- description -->
          <p  text-wrap *ngIf="item._description">{{item._description}}</p>
        </ion-card-content>
  
        <ion-icon clear item-right name="ios-arrow-forward"></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>

  <!-- title valid -->
  <ng-template #emptyTemplate>
    <ion-card class="empty-ion-card" *ngIf="!isFirstSearch && !hasResults">
      <img class="empty-ion-card-img" src="assets/imgs/error_view_cloud.png" />
      <div  text-wrap class="empty-ion-card-title">{{ 'page_search_no_results_title' | translate }}</div>
      <div text-wrap  class="empty-ion-card-subtitle">{{ 'page_search_no_results_subtitle' | translate }}</div>
    </ion-card>
  </ng-template>
</ion-content>
