<ion-header>
  <ion-navbar>
    <ion-buttons end >
      <button ion-button icon-only color="royal" (click)="onToolbarMapClick()" *ngIf="showMapWithInToolbar">
        <ion-icon name="map"></ion-icon>
      </button>

       <button ion-button icon-only color="royal" (click)="onToolbarSearchClick()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="dataset"  text-wrap>{{dataset._name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <!-- <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."> -->
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="{{ 'page_records_list_refreshing_text' | translate }}">
      </ion-refresher-content>
    </ion-refresher>

  <ion-list *ngIf="records && records.length > 0 else emptyTemplate">
    <div *ngFor="let record of records">

      <ion-card (click)="onRecordClicked(record)">
      
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/ic_avatar_circle_gray.png">
          </ion-avatar>
          <h2 text-wrap>{{record._createdby}}</h2>
          <p>{{record._createdon | date: 'dd/MM/yyyy'}}</p>
        </ion-item>
      
        <img *ngIf="record._main_image" src="{{record._main_image}}" class="record-list-image">
      
        <ion-card-content>
      
          <!-- title -->
          <ion-item no-lines no-padding no-margin>
            <h1 text-wrap *ngIf="!record._title; else templateTitle">
              <!-- title not valid -->
              {{record._id}}
            </h1>
            <!-- title valid -->
            <ng-template #templateTitle>
              <h1 text-wrap> {{record._title}}</h1>
            </ng-template>

            <ion-icon clear item-right name="ios-arrow-forward"></ion-icon>
          </ion-item>
      
          <!-- tags -->
          <!-- <p *ngIf="record.tags">tags: {{record.tags}}</p> -->
      
          <!-- description -->
          <!-- <p class="truncate-block" *ngIf="record._description">{{record._description}}</p> -->
          <p text-wrap *ngIf="record._description">{{record._description}}</p>
      
        </ion-card-content>
      </ion-card>
    </div>
   


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'page_records_list_loading_data' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ng-template #emptyTemplate>
    <h1  text-wrap padding> 
     {{ 'page_records_list_data_unavailable' | translate }}
    </h1>
  </ng-template>
</ion-content>